<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HttpRequest Attributes</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1 style="text-align: center">HttpRequest Attributes</h1>
        </header>
        <h4><strong>request.path :</strong> {{request.path}}</h4>
        <h4><strong>request.method : </strong>{{request.method}}</h4>
        <h4><strong>request.encoding : </strong>{{request.encoding}}</h4>
        <h4><strong>request.GET : </strong>{{request.GET}}</h4>
        <h4><strong>request.POST : </strong>{{request.POST}}</h4>
        <h4><strong>request.FILES : </strong>{{request.FILES}}</h4>
        <h4><strong>request.COOKIES : </strong>{{request.COOKIES}}</h4>
        <h4><strong>request.session : </strong>{{request.session}}</h4>
    </div>
    
</body>
</html>