<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Student</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <header class="page-header">
            <h3 style="text-align: center">
                Student Edit
            </h3>

        </header>

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="name" class="col-sm-4 control-label">name</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="name" placeholder="please input name">
                </div>
            </div>
            <div class="form-group">
                <label for="age" class="col-sm-4 control-label">age</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="age" placeholder="please input age">
                </div>
            </div>
            <div class="form-group">
                <label for="gender" class="col-sm-4 control-label">gender</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="gender" placeholder="please input gender">
                </div>
            </div>
            <div class="form-group">
                <label for="contend" class="col-sm-4 control-label">contend</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="contend" placeholder="please input contend">
                </div>
            </div>
            <div class="form-group">
                <label for="grade" class="col-sm-4 control-label">grade</label>
                <div class="col-sm-5">
                    <input type="grade" class="form-control" id="grade" placeholder="please input grade">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">isDelete
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-5">
                    <button type="submit" class="btn btn-success">save</button>
                </div>
            </div>
        </form>

    </div>
</body>

</html>