{% extends 'myApp/base.html' %}

{% block main_1 %}
    <h1>Welcome ! </h1> 
    <h3>
        {{username}}
    </h3>
{% endblock %}
{% block main_2 %}
    <form action="{% url 'myApp:savefile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}        
        <div class="form-group">
            <input class="form-control" type="file" name="file" id="file">
        </div>
        <div class="form-group">
            <input class="form-control" type="submit" name="submit" id="submit">
        </div>
    </form>

    

    <small><a href="/myApp/logout/">log out</a></small>
{% endblock %}