{% extends 'myApp/base.html' %}

{% block main_1 %}
    <h1>Welcome ! </h1> 
    <h3>
        {{username}}
    </h3>
{% endblock %}
{% block main_2 %}
    <form action="{% url 'myApp:savefile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}        
        <div class="form-group">
            <input class="form-control" type="file" name="file" id="file">
        </div>
        <div class="form-group">
            <input class="form-control" type="submit" name="submit" id="submit">
        </div>
    </form>

    <hr>

    <button class="btn btn-success" id="show">show list</button>

    <small><a href="/myApp/logout/">log out</a></small>
{% endblock %}


{% block main_3 %}

<script>
        $('#show').click(()=>{
            $.ajax({
                type:'GET',
                url: "{% url 'myApp:showall' %}",
                dataType: 'json',
                success: (data, status)=>{
                    console.log(data);
                    $('#show').after(`
                        <p> 第一条数据 ${data['data'][0][0]}-${data['data'][0][1]} </p>
                        
                    `);
                }
            });
        });
</script>

{% endblock %}
