<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <h3>Login</h3>
    /
    <!-- 结尾‘/‘不能少 ， 会有匹配问题-->
    <form action="/myApp/login/" method="post">
        username : <input type="text" name="username" id="username"><br>
        password : <input type="password" name="password" id="password"><br>
        <input type="submit" name="login" id="login">
    </form>

</body>
</html>