<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    
    <form action="regist/" method="POST">

        name: <input type="text"  name="name"><br>
        gender: <input type="radio" name="gender" value="1">boy
                <input type="radio" name="gender" value="0">girl<br>
        age: <input type="text" name="age" id="age"><br>
        hobby: <input type="checkbox" name="hobby" value="A">A
        <input type="checkbox" name="hobby" value="B">B
        <input type="checkbox" name="hobby" value="c">c
        <br>

        <input type="submit" value="regiest">
    </form>

</body>
</html>