<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<!-- Stylesheets -->
	<link rel="stylesheet" href="/static/css/myresponsee.css">
	<link rel="stylesheet" href="/static/css/style.css">

	<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

	<!--Favicon-->
	<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
	<!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/css/responsive.css" rel="stylesheet">


</head>

<body class="size-1140">

	<!-- |||||||||||||||||| page start ||||||||||||||||||| -->
	<!-- ||||| -->
	<div id="page-main-content">
		<!-- ||||| -->
		<!-- ||||||||||||||||||||||||||||||||||||||||||||||||| -->

		<!-- HEADER START -->
		<header>

			<!-- navigation and logo -->
			<nav class="background-dark">
					<div id="topbar" >
							<div class="line">
								<!-- social icons -->
								<div class="s-12 m-12 l-6">
									<ul>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fa fa-youtube"></i></a></li>
										<li class="hide-s"><a href="#"><i class="fa fa-pinterest"></i></a></li>
									</ul>
								</div>
								<!-- contact details -->
								<div class="l-6 hide-s hide-m">
									<div class="right">
										<ul class="topbar-menu">
											<li><a href="#">info@website.com</a></li>
											<li><a href="#">+971 123 456 789</a></li>
										</ul>
									</div>
								</div>
							</div>
					</div>

				<div class="line" style="padding: 25px">
					<!-- logo -->

					<!-- navigation -->
					<div class="top-nav s-12 m-12 l-12">
						<div class="s-12 l-1">
							<div>
								<a href="index.html" class="logo"><img src="/static/img/favicon.ico"
										style="width: 90px"></a>
							</div>
						</div>
						<a class="nav-text"></a>
						<ul class=" chevron">
							<li><a class="index.html">Home</a></li>
							<li><a shref="about-us.html">About Us</a></li>
							<li><a shref="contact-us.html">Contact Us</a></li>
							<li><a shref="products.html">Products Grid</a></li>
							<li><a shref="product.html">Product Page</a></li>
							<li><a shref="cart.html">Cart</a></li>
							<li><a shref="blog.html">Blog</a></li>
						</ul>
					</div>

				</div>
			</nav>
		</header>
		<!-- HEADER END -->

		<!-- ABOUT US START -->
		<div class="section">
			<div class="line">

				<!-- heading -->
				<h1 class="text-center">Xfun</h1>
				<hr class="break-small break-center">
				<div class="margin">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Title</th>
								<th>Img</th>
								<th>Page</th>
								<th>Description</th>
								<th>UpdateTime</th>
								<th>Operation</th>
							</tr>
						</thead>
						<tbody>
							{%for fj in fjList %}
							<tr>
								<td>{{fj.title}}</td>
								<td><a id="img{{fj.id}}" href="#" data-toggle="tooltip" data-placement="left"
										title="{{fj.imgUrl}}">{{fj.imgUrl}}</a></td>
								<td><a id="page{{fj.id}}" href="#" data-toggle="tooltip" data-placement="left"
										title="{{fj.pageUrl}}">{{fj.pageUrl}}</a></td>
								<td><a href="#" data-toggle="tooltip" data-placement="left"
										title="{{fj.description}}">{{fj.description}}</a></td>
								<td>{{fj.updateTime}}</td>
								<td><button class="btn btn-success btn-xs"
										onclick="clipboard('img{{fj.id}}')">copyIMG</button>
									<button class="btn btn-success btn-xs"
										onclick="clipboard('page{{fj.id}}')">copyPAGE</button>
								</td>
								<!-- <td><a href="{{grade.id}}" class="btn btn-info btn-sm">detail</a></td> -->
							</tr>
							{%endfor%}
						</tbody>
					</table>

					<ul class="pager">
						{%  ifnotequal prePage 0 %}
						<li class="previous"><a href="/xfun/page/{{prePage}}">&larr; Older</a></li>
						{% endifnotequal  %}
						{% ifnotequal nexPage 0 %}
						<li class="next"><a href="/xfun/page/{{nexPage}}">Newer &rarr;</a></li>
						{% endifnotequal %}
					</ul>

				</div>
			</div>
		</div>
		<!-- ABOUT US END -->

		<!-- FOOTER START -->
		<footer>
			<div class="section background-dark">
				<!-- email and phone numbers -->
				<div class="line">
					<div class="margin">
						<div class="fullwidth text-center margin-bottom-40">
							<h5>Hello@website.com</h5>
						</div>
						<div class="fullwidth phone-number margin-bottom-60">
							<div class="s-12 m-6 l-6 margin-s-bottom-60">
								<span>Call Us</span><br />
								<a href="">+971 123-456-789</a>
							</div>
							<div class="s-12 m-6 l-6">
								<span>Whatsapp</span><br />
								<a href="">+971 123-456-789</a>
							</div>
						</div>
					</div>
				</div>
				<!-- contact form -->
				<div class="line">
					<form class="footer-form">
						<div class="fullwidth">
							<div class="margin">
								<div class="s-12 m-6 l-6">
									<input type="text" name="name" placeholder="Full Name" title="Full Name" required />
								</div>
								<div class="s-12 m-6 l-6">
									<input type="text" name="email" placeholder="Email" title="Email" required />
								</div>
							</div>
							<div class="margin">
								<div class="s-12 m-6 l-6">
									<input type="text" name="mobile" placeholder="Mobile" title="Mobile Number"
										required />
								</div>
								<div class="s-12 m-6 l-6">
									<input type="text" name="subject" placeholder="Subject" title="Subject" />
								</div>
							</div>
							<div class="s-12">
								<textarea name="message" placeholder="Your message" rows="2" required></textarea>
							</div>
							<div class="s-12 m-12 l-3">
								<input type="submit" class="button" value="Send to Us">
							</div>
						</div>
					</form>
				</div>
			</div>

			<!-- footer bottom bar -->
			<div class="copyright">
				<div class="line">
					<div class="margin">
						<!-- left -->
						<div class="s-12 m-12 l-8 footer-links">
							<ul class="footer-bar-links">
								<li><a href="">Contact Us</a></li>
								<li><a href="">Faqs</a></li>
								<li><a href="">Shipping</a></li>
								<li><a href="">Return Policy</a></li>
								<li><a href="">Order Tracking</a></li>
							</ul>

						</div>
						<!-- right -->
						<div class="s-12 m-12 l-4 payment-methods">
							<i class="fa fa-cc-visa fa-2x"></i>
							<i class="fa fa-cc-mastercard fa-2x"></i>
							<i class="fa fa-cc-paypal fa-2x"></i>
							<i class="fa fa-credit-card fa-2x"></i>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- FOOTER END -->

		<!-- |||||||||||| page end ||||||||||||| -->
		<!-- ||||||||| -->
	</div> <!-- ||||||||| -->
	<!-- |||||||||||| page end ||||||||||||| -->

	<!-- jQuery Files -->
	<script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>

	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="/static/owl-carousel/owl.carousel.js"></script>
	<script type="text/javascript" src="/static/js/custom.js"></script>

</body>

</html>

<script>
	$(function () {
		$("[data-toggle='tooltip']").tooltip();
	});

	function clipboard(textid) {

		text = $('#' + textid).text();
		console.log(text)
		let inputElement = document.createElement('input');
		inputElement.value = text;
		document.body.appendChild(inputElement)
		inputElement.select()
		document.execCommand('copy', true);
		inputElement.parentNode.removeChild(inputElement)


	}
</script>